.output {
    height: 600px;

    background-color: #000;
    color: #ddd;

    overflow: auto;
}

.output p {
    margin: 4px;
    padding: 4px;
}

.input {
    margin: 4px;
    padding: 4px;

    width: 400px;
}
